
.css-carousel{
	overflow: hidden;
	margin-left: 5%;
	margin-top: 2%;
}

.css-carousel .css-img{
	border-radius: 40px;
	width: 50%;
	height: 50%;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	opacity: 0;
	text-align: right;
	-webkit-animation-name:css-animation-fade;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count; infinite;

}

.css-carousel .css-img:nth-child(2){
	-webkit-animation-delay: 5s;
}
.css-carousel .css-img:nth-child(3){
	-webkit-animation-delay: 10s;
}
.css-carousel .css-img:nth-child(4){
	-webkit-animation-delay: 15s;
}
.css-carousel .css-img:nth-child(5){
	-webkit-animation-delay: 20s;
}

@-webkit-keyframes css-animation-fade{
	from { opacity:0;}
	5% { opacity: 1;}
	15%{opacity: 1;}
	20%{opacity: 4;}
	to {opacity: 0;}
}



